/* Tu CSS va aqui */
.log {
	padding: 2% 0%;
}
.col-8 img {
	width: 20%;
}
.col-4 li , a{
	display: inline-block;
	text-decoration: none;
	color: gray;
}
.bg {
	background-color: grey;
	color:white;
	padding: 3% 0%;
}
.beauti {
	font-size: 300%;
	padding: 2% 0%;
	font-weight: 900;
}
.formulario {
	background-color: #9E9E9E;
	padding: 2% 4%;
	margin-right: 35%;
	text-align: center;
	border-radius: 10px;
}
#get {
	font-size: 200%;
	margin-bottom: 2%;
}
input {
	display: block;
	height: 25px;
	width: 100%;
	margin-bottom: 3%;
}
#enviar-dos {
	background-color: #53c9e7;
	width: 100%;
	margin-bottom: 5%;
	height: 25px;

}